{% extends 'base.html' %}

{% block content %}

<h1 class="my-5">Просмотр данных о Фильме</h1>

<table class="table mt-3">
    <tbody>
        <tr>
            <td>Название:</td>
            <td>{{ film.name }}</td>
        </tr>
        <tr>
            <td>Страна:</td>
            <td>{{ film.country }}</td>
        </tr>
        <tr>
            <td>Информация:</td>
            <td>{{ film.info }}</td>
        </tr>
        <tr>
            <td>Год выпуска:</td>
            <td>{{ film.year_w }}</td>
        </tr>
        <tr>
            <td>Сценарист:</td>
            <td>{{ film.s_writer }}</td>
        </tr>
        <tr>
            <td>Режиссёр:</td>
            <td>{{ film.director }}</td>
        </tr>
        <tr>
            <td>Актёры:</td>
            <td>{{ film.actors }}</td>
        </tr>
        <tr>
            <td>Продолжительность:</td>
            <td>{{ film.duration }}</td>
        </tr>
        <tr>
            <td>Жанр:</td>
            <td>{{ genres.genre_name }}</td>
        </tr>
    </tbody>
</table>

{% if check_com == None %}
    {% if current_user.is_authenticated %}
        <a class="btn btn-primary" href="{{ url_for('create_rec', film_id=film.id) }}">Добавить рецензию</a>
    {% endif %}
{% endif %}


{% for comment in comments %}
    {% if comment.cnt > 3 %}
        <div class="media mt-3">
            <div class="media-body green">
                <h3 class="mt-0">{{ comment.login }}</h5>
                <h5 class="mt-1">Оценка: {{ comment.cnt }}</h5>
                <p class="mt-1">{{ comment.opinion}}</p>
            </div>
        </div>
    {% elif comment.cnt == 3 %}
        <div class="media mt-3">
            <div class="media-body yellow">
                <h3 class="mt-0">{{ comment.login }}</h5>
                <h5 class="mt-1">Оценка: {{ comment.cnt }}</h5>
                <p class="mt-1">{{ comment.opinion}}</p>
            </div>
        </div>
    {% elif comment.cnt < 3 %}
        <div class="media mt-3">
            <div class="media-body red">
                <h3 class="mt-0">{{ comment.login }}</h5>
                <h5 class="mt-1">Оценка: {{ comment.cnt }}</h5>
                <p class="mt-1">{{ comment.opinion}}</p>
            </div>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}